/* *,*:before,*:after {
    box-sizing: border-box;
} */

body {
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Общие правила */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
}

.block {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 34px;
}

.btn {
    width: 170px;
    height: 48px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #545BE8;
    background-color: #545BE8;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-family: 'Inter';
    font-size: 18px;
    text-transform: uppercase;
    color: #545BE8;
}

.subtitle {
    font-weight: 700;
    font-size: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #141E32;
}

.text {
    font-size: 18px;
    color: #969696;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */
.header__container {
    background: #FFFFFF;
    height: 80px;
    position: relative;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.logo__name {
    font-family: 'Roboto';
    color: #545BE8;
    font-size: 14px;
}

.nav {
    display: flex;
    height: 24px;
    margin-left: 66px;
}

.nav__link_active {
    font-weight: 700;
}

.nav__link {
    font-size: 16px;
    margin-right: 40px;
    color: #101928;
}

.nav__link:nth-child(5) {
    margin-right: 0px;
}

.header__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 364px;
}

.btn_login {
    color: #545BE8;
    background-color: transparent;
}

/* main-list */
.main-list__container {
    background: #F5F5F5;
    height: 705px;
}

.main-list__block_presentation {
    height: 492px;
}

.main-list__title {
    color: #545BE8;
    text-transform: none;
}

.main-list__title_weight {
    font-weight: 700;
}

.main-list__subtitle {
    font-size: 64px;
    margin-bottom: 24px;
}

.main-list__subtitle_clr-purple {
    color: #545BE8;
}

.main-list__add-block {
    display: flex;
    justify-content: left;
    align-items: center;
}

.main-list__play-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 42px;
    width: 133px;
}

#play {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #141E32;
}

/* advantage */
.advantage__wrapper {
    position: relative;
}

.advantage__block_scroll {
    position: absolute;
    top: 401px;
    right: 0;
}

.advantage__container {
    height: 522px;
    overflow: hidden;
}

.advantage__text-block {
    width: 364px;
    height: 362px;
}

.advantage__block_cards {
    margin-top: 111px;
    margin-bottom: 144px;
}

.advantage__cards {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}

.advantage__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 267px;
    height: 267px;
    background: #545BE8;
    border-radius: 10px;
    margin-right: 40px;
}

.card__item {
    width: 227px;
    height: 186px;
    margin-left: 16px;
}

.card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 50%;
}

.card__title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 16px;
}

.card__subtitle {
    font-size: 14px;
    color: #DDDDDD;
}

.advantage__block_scroll {
    flex-direction: row;
    align-self: flex-end;
}

.advantage__scroll {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F0C932;
    cursor: pointer;
}

.advantage__scroll-left {
    margin-right: 24px;
}


/* attainment */
.attainment__container {
    height: 643px;
    background: linear-gradient(180deg, #545BE8 0%, #272DB0 100%);
}

.other-courses__wrapper {
    flex-wrap: wrap;
}

.attainment__text-block {
    height: 352px;
    margin: 121px 0 170px 125px;
}

.attainment__title {
    color: #F0C932;
}

.attainment__subtitle {
    color: #FFFFFF;
}

.attainment__add-block {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.counter {
    font-family: 'Inter';
    text-align: center;
    height: 57px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

}

.counter:nth-child(2) {
    margin-left: 109px;
    margin-right: 91px;
}

.counter__quantity {
    font-weight: 700;
    font-size: 24px;
    color: #F0C932;
}

.counter__what {
    font-size: 18px;
    color: #DDDDDD;
}

/* other-courses */
.other-courses__wrapper {
    flex-direction: column;
    align-content: space-around;
}

.other-courses__top_content {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 80px;
}

.other-courses__block-cards {
    height: 733px;
    flex-direction: row;
}

.other-courses__column-left {
    margin-right: 40px;
}

.other-courses__card {
    border-radius: 5px;
    width: 328px;
    height: 345px;
    box-shadow: 0px 18.0585px 18.0585px rgba(0, 0, 0, 0.05);
}

.other-courses__card-cover {
    position: relative;
}

.other-courses__card-img {
    display: flex;
    width: 328px;
    height: 240.5px;
}

.other-courses__card-img_one {
    background-image: url(resources/img/Notebook.png);
}

.other-courses__card-img_two {
    background-image: url(resources/img/JavaScript.png);
}

.other-courses__card-img_three {
    background-image: url(resources/img/Photographer.png);
}

.other-courses__card-img_four {
    background-image: url(resources/img/Desain.png);
}

.other-courses__img-shadow {
    align-self: flex-end;
    width: 328px;
    height: 66.67px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.other-courses__best {
    position: absolute;
    left: 0;
    top: 21.6px;
    width: 123.5px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #545BE8;
    font-weight: 700;
    font-size: 16.2527px;
    line-height: 24px;
    color: #FFFFFF;
}

.other-courses__price {
    position: absolute;
    right: 0;
    bottom: 14px;
    padding-right: 14px;
    font-weight: 700;
    font-size: 21.6702px;
    color: #FFFFFF;
}

.other-courses__card-text {
    display: flex;
    justify-content: space-between;
    height: 104.52px;
}

.other-courses__left-block {
    justify-content: center;
    margin-left: 14.5px;
}

.other-courses__card-title {
    font-weight: 700;
    font-size: 21.6702px;
    color: #141E32;
}

.other-courses__card-fullness {
    display: flex;
    font-size: 16.2527px;
    color: #969696;
    margin-top: 6.7px;
}

.other-courses__card-teacher {
    margin-left: 14.3px;
}

.other-courses__card-Views {
    font-size: 12.641px;
    color: #545BE8;
    margin-top: 26px;
    margin-right: 13.8px;
}

.other-courses__block_text-block {
    margin-left: 80px;
}

.other-courses__btn {
    margin-top: 24px;
}

.other-courses__bottom_content {
    width: 1200px;
    height: 360px;
    margin: 80px auto;
}

.feedback__title {
    font-family: 'Mada';
    font-size: 40px;
    text-align: center;
    color: #0D1222;
    margin-bottom: 40px;
}

.feedback__cards {
    display: flex;
    justify-content: space-between;
}

.feedback__angle {
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-top: 78px solid #F4F4F4;
    border-left: 78px solid transparent;
}

.feedback__card {
    position: relative;
    width: 588px;
    height: 268px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.feedback__card-contents {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 188px;
    margin: 40px;

}

.feedback__account {
    display: flex;
}

.feedback__name-and-client {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-left: 16px;

}

.feedback__name {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.feedback__client {
    font-size: 14px;
    color: #646464;
}

.feedback__text {
    display: flex;
    height: 60px;
    font-size: 18px;
    color: #646464;
}

.feedback__text-content {
    margin-left: 7px;
    line-height: 30px;
}

/* footer */
.footer__container {
    height: 400px;
    background: #393E46;
}

.footer__wrapper {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;

}

.footer__block-left {
    margin-left: -39px;
    margin-top: -10px;
}

.logo__name_footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.footer_social-icon {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 1px solid #FFFFFF;
    margin-right: 16px;
}

.footer_text {
    width: 424px;
    font-size: 14px;
    line-height: 24px;
    color: #F4F4F4;
    margin: 24px 1px 40px 0;
}

.footer_social {
    justify-content: flex-start;
    width: auto;
}

.footer__block-right {
    display: flex;
    flex-direction: row;
}

.footer__nav:last-child {
    margin-right: 0;
}

.footer__nav:nth-last-child(2) {
    margin-right: 70px;
}

.footer__nav {
    margin-right: 80px;
    margin-left: 0;
}

ul {
    padding: 0;
}

a {
    color: #FFFFFF;
}

.footer__link {
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 11px;
}

.footer__link_head {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
}